# IDE
.vscode
.idea

# Node dependency directories
node_modules/
*/node_modules

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# macOS files
.DS_Store

# not required Directories
temp/
week-1/
week-2/
week-3/
week-4/
week-5/
week-6/
week-7/
week-8/
week-9/