:root {
  --page-text: #333;
  --header-text: #fff;
  --footer-text: red;

  --page-links: red;
  --header-links: #fff;
  --footer-links: #fff;
  --header-links-active: blue;

  --page-links-hovered: blue;
  --footer-links-hovered: blue;
  --header-links-hovered: blue;

  --site-background: #e0e1dd;
  --page-background: rgba(255, 255, 255, 0.2);
  --header-background: #0d1b2a;
  --footer-background: #1b263b;
}


/* Style rules governing all pages
---------------------------------------------------*/

* {
  font-family: 'Courier New', Courier, monospace;
  font-style: normal;
}
i{
  font-style: italic;
}

h1 {
  font-size: 2.8rem;
  font-weight: bolder;
}

h2, h3, h4, h5, h6 {
  font-weight: bold;
}

h2 {
  font-size: 2.4rem;
  line-height: 2.6rem;
}

h3{
  font-size: 2rem;
  line-height: 2.2rem;
}

h4{
  font-size: 1.6rem;
  line-height: 1.8rem;
}

h5{
  font-size: 1.2rem;
  line-height: 1.4rem;
}

h6{
  font-size: 0.8rem;
  line-height: 1rem;
}
hr{
  height: 4px;
  border: none;
  outline: none;
  opacity: 0.55;
  background: #333;
  background-color: #333;
  width: calc(100%);
  margin: 32px auto 32px auto;
}
p{
  font-size: 1.2rem;
  line-height: 1.4rem;
}
code{
  font-family: Consolas,"courier new";
  color: crimson;
  background-color: #f1f1f1;
  padding: 2px;
  font-size: 105%;
}
strong{
  font-weight: bolder;
}
small{
  font-size: 0.8rem;
}
section{
  font-size: 1.2rem;
  line-height: 1.4rem;
}

div{
  font-size: 1.2rem;
  line-height: 1.4rem;
}

html > .page
{
  display: block;
  position: relative;
  color: var(--page-text, #333);
  background-color: var(--site-background, #fff);
}


/* Style rules governing site header
---------------------------------------------------*/
html > .page .site-header {
  padding: 5px;
  display: flex;
  flex: 1 1 auto;
  flex-wrap: nowrap;
  position: relative;
  flex-direction: row;
  justify-items: left;
  justify-content: left;
  color: var(--header-text, #fff);
  background-color: var(--header-background, #333);
  border-bottom: 5px solid #415a77;
}
html > .page .site-header .info,
html > .page .site-header .header-nav {
  padding: 5px;
  display: flex;
  flex: 1 1 auto;
}
html > .page > .site-header .info {
  width: 320px;
  align-items: center;
  justify-items: center;
  justify-content: center;
}
html > .page .site-header .header-nav {
  width: calc(100% - 320px);
  align-items: center;
  justify-content: end;
  justify-items: center;
}


/* Style rules governing site info in site header
---------------------------------------------------*/
html > .page .site-header .info .logo {
  width: 68px;
  height: 68px;
  margin: auto;
  padding: 5px;
  display: flex;
  flex: 1 1 auto;
  position: relative;
  flex-direction: row;
  justify-items: center;
  justify-content: center;
}
html > .page .site-header .info .logo img {
  width: 64px;
  height: 64px;
  margin: auto;
}
html > .page > .site-header .info .text {
  display: block;
  position: relative;
  padding: 5px;
  width: calc( 100% - 64px );
}
html > .page > .site-header .info .text .hidden {
  display:  none;
  visibility: hidden;
}
html > .page > .site-header .info .text .site-link,
html > .page > .site-header .info .text .site-link:link,
html > .page > .site-header .info .text .site-link:visited,
html > .page > .site-header .info .text .site-link:active {
  margin: auto;
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  text-decoration: none;
  color: var(--header-links, #fff);
}
html > .page > .site-header .info .text .site-link:hover {
  color: var(--header-links-hovered, blue);
}
html > .page > .site-header .info .text .site-link .site-name {
  font-size: 1.6rem;
  font-weight: bolder;
  text-transform: uppercase;
  text-decoration: underline;
}
html > .page > .site-header .info .text .site-link .tagline,
html > .page > .site-header .info .text .site-link .tagline i {
  font-size: 1rem;
  font-weight: bold;
  font-style: normal;
  line-height: 1.8rem;
}

/* Style rules governing site header nav
---------------------------------------------------*/
html > .page .site-header .header-nav .nav-link,
html > .page .site-header .header-nav .nav-link:link,
html > .page .site-header .header-nav .nav-link:visited,
html > .page .site-header .header-nav .nav-link:active {
  font-weight: bold;
  text-decoration: none;
  margin: 0px 5px 0px 5px;
  text-transform: uppercase;
  color: var(--header-links, #fff);
}
html > .page .site-header .header-nav .nav-link.active,
html > .page .site-header .header-nav .nav-link.active:link,
html > .page .site-header .header-nav .nav-link.active:visited,
html > .page .site-header .header-nav .nav-link.active:active{
  border-bottom: 2px solid var(--header-links-active, red);
}
html > .page .site-header .header-nav .nav-link:hover {
  color: var(--header-links-hovered, blue);
}


/* Style rules governing site footer
---------------------------------------------------*/
html > .page .site-footer {
  height: auto;
  min-height: 85px;
  display: flex;
  flex: 1 1 auto;
  flex-wrap: nowrap;
  align-items: center;
  justify-items: center;
  flex-direction: column;
  justify-content: center;
  color: var(--footer-text, #fff);
  background-color: var(--footer-background, #333);
}
html > .page .site-footer .copyright {
  text-align: center;
}
html > .page .site-footer a,
html > .page .site-footer a:link,
html > .page .site-footer a:visited,
html > .page .site-footer a:active {
  text-decoration: none;
  color: var(--footer-links, #fff);
}
html > .page .site-footer a:hover {
  color: var(--footer-links-hovered, blue);
}


/* Style rules governing all pages
---------------------------------------------------*/
html > .page .site-content {
  margin: auto;
  height: auto;
  width: auto;
  max-width: 1080px;
  min-width: 25px;
  min-height: 82vh;
  color: var(--page-text, #333);
  background-color: var(--page-background, rgba(33, 33, 33, 0.05));
}
html > .page .site-content a,
html > .page .site-content a:link,
html > .page .site-content a:visited,
html > .page .site-content a:active {
  color: var(--page-links, blue);
}
html > .page .site-content a:hover {
  color: var(--page-links-hovered, red);
}
html > .page .site-content .page-section {
  padding: 12px;
  margin-bottom: 18px;
}
html > .page .site-content .page-section .title {
  font-size: 1.2rem;
  text-decoration: underline;
}
html > .page .site-content  {
  margin-bottom: 40px;
}

/* Style rules governing 404 page
---------------------------------------------------*/
html > .page._404 .site-content {
  padding: 10px;
  display: flex;
  flex: 1 1 auto;
  margin-top: 20px;
  min-height: 20vh;
  margin-bottom: 62vh;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
html > .page._404 .site-content .title {
  text-decoration: underline;
}

/* Style rules governing home page
---------------------------------------------------*/
html > .page.home .site-content {
  min-height: auto;
  padding-top: 14px;
  margin-bottom: 40px;
}
html > .page.home .splash-screen {
  margin: auto;
  height: 50vh;
  display: flex;
  width: inherit;
  flex: 1 1 auto;
  position: relative;
  align-items: center;
  justify-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(33, 33, 33, 0.25);
}
html > .page.home .splash-screen .about {
  width: 60%;
  height: auto;
  display: block;
  position: relative;
}
html > .page.home .splash-screen .about .title {
  text-align: center;
  line-height: 2.8rem;
  margin-bottom: 12px;
}
html > .page.home .splash-screen .about .info {
  font-size: 2rem;
  line-height: 2rem;
  text-align: center;
}

/* Style rules governing list all books view
---------------------------------------------------*/
html > .page.all-books .book-list {
  width: auto;
  margin: auto;
  max-width: 98%;
  min-width: 95%;
}
html > .page.all-books .book-list .book-item {
  margin: 24px 0px 24px 0px;
  background: rgba(65, 90, 119, 0.02);
}
html > .page.all-books .book-list .book-item .container {
  display: flex;
  flex: 1 1 auto;
  flex-wrap: nowrap;
  align-items: start;
  flex-direction: row;
  justify-items: start;
  justify-content: left;
}
html > .page.all-books .book-list .book-item .container .cover,
html > .page.all-books .book-list .book-item .container .info {
  display: flex;
  flex: 1 1 auto;
  flex-wrap: nowrap;
  position: relative;
  flex-direction: column;
}
html > .page.all-books .book-list .book-item .container .cover {
  margin: 12px;
  width: 185px;
  height: auto;
  flex-wrap: nowrap;
  text-align: center;
  flex-direction: row;
  align-items: center;
  justify-items: center;
  justify-content: center;
  background: rgba(33, 33, 33, 0.09);
}
html > .page.all-books .book-list .book-item .container .cover img,
html > .page.all-books .book-list .book-item .container .cover i {
  width: 180px;
  height: auto;
  padding: 8px;
  max-height: 280px;
  min-height: 180px;
  flex-wrap: nowrap;
  text-align: center;
  flex-direction: row;
  align-items: center;
  justify-items: center;
  justify-content: center;
}
html > .page.all-books .book-list .book-item .container .info {
  height: auto;
  text-align: left;
  flex-wrap: nowrap;
  align-items: start;
  justify-items: left;
  justify-content: left;
  flex-direction: column;
  margin: 5px 0px 5px 0px;
  width: calc( 100% - 185px );
}
html > .page.all-books .book-list .book-item .container .info .title {
  font-size: 1.4rem;
}
html > .page.all-books .book-list .book-item .container .info hr {
  opacity: 0.2;
  margin: 12px 5px 12px 5px;
}
html > .page.all-books .book-list .book-item .container .info .description {
  padding: 5px;
  text-align: left;
  text-indent: 14px;
  margin-bottom: 20px;
}
html > .page.all-books .book-list .book-item .container .info .book-nav {
  width: 100%;
  margin: auto;
  display: flex;
  flex: 1 1 auto;
  position: relative;
  justify-content: right;
}
html > .page.all-books .book-list .book-item .container .info .book-nav .book-link,
html > .page.all-books .book-list .book-item .container .info .book-nav .book-link:link,
html > .page.all-books .book-list .book-item .container .info .book-nav .book-link:visited,
html > .page.all-books .book-list .book-item .container .info .book-nav .book-link:active {
  margin: 8px;
  font-weight: 600;
  border-radius: 5px;
  text-decoration: none;
  padding: 5px 18px 5px 18px;
  border: 2px solid #415a77;
  color: var(--header-links, #ffff);
  background: var(--header-background, #0d1b2a);
  transition: all 500ms ease-in-out;
}
html > .page.all-books .book-list .book-item .container .info .book-nav .book-link:hover {
  border: 2px solid var(--header-background, #0d1b2a);
  color: var(--header-background, #0d1b2a);
  background: var(--header-links, #ffff);
  transition: all 500ms ease-in-out;
}

/* Style rules governing single book view
---------------------------------------------------*/
html > .page.single-book .detailed-view {
  width: auto;
  margin: auto;
  display: flex;
  max-width: 98%;
  min-width: 95%;
  flex: 1 1  auto;
  flex-direction: row;
}
html > .page.single-book .detailed-view .cover-container,
html > .page.single-book .detailed-view .info {
  margin: 8px;
  display: flex;
  flex: 1 1 auto;
  flex-wrap: nowrap;
  align-items: start;
  flex-direction: row;
  justify-items: start;
  justify-content: left;
}
html > .page.single-book .detailed-view .cover-container {
  width: 320px;
}
html > .page.single-book .detailed-view .cover-container img {
  width: 98%;
  height: auto;
  padding: 8px;
  margin: auto;
  flex-wrap: nowrap;
  text-align: center;
  flex-direction: row;
  align-items: center;
  justify-items: center;
  justify-content: center;
}
html > .page.single-book .detailed-view .info {
  flex-direction: column;
  width: calc( 100% - 340px);
}
html > .page.single-book .detailed-view .info hr {
  opacity: 0.2;
  margin: 12px 5px 12px 5px;
}
html > .page.single-book .detailed-view .info .title {
  font-size: 1.4rem;
}
html > .page.single-book .detailed-view .info .book-details li {
  margin-bottom: 12px;
}

/* Style rules governing read book view
---------------------------------------------------*/
html > .page.read-book .site-content {
  width: auto;
  height: auto;
  max-width: 100%;
  min-width: 100%;
  min-height: 82vh;
  max-height: 82vh;
}
html > .page.read-book .site-content #reader-frame {
  width: 90%;
  height: 86vh;
  margin: auto;
  display: block;
  max-width: 100%;
  min-width: 100%;
  max-height: 100%;
  min-height: 100%;
  position: relative;
}

/* Style rules governing docs view
---------------------------------------------------*/
html > .page.documentation .documentation-view {
  margin-top: 12px;
}
html > .page.documentation .documentation-view .title {
  font-size: 1.4rem;
  font-weight: bold;
  padding: 5px;
}
html > .page.documentation .documentation-view .red {
  color: red;
}
html > .page.documentation .documentation-view .green {
  color: green;
}
html > .page.documentation .documentation-view strong hr {
  opacity: 0.5;
}
html > .page.documentation .documentation-view table strong {
  line-height: 18px;
}
html > .page.documentation .documentation-view table pre,
html > .page.documentation .documentation-view table pre code {
  font-size: 1rem;
  background: rgba(255, 255, 255, 0.2);
  background-color: rgba(255, 255, 255, 0.2);
}

html > .page.documentation .documentation-view table {
  width: 98%;
  margin: auto;
  margin-top: 12px;
  border: 1px solid #0d1b2a;
}
html > .page.documentation .documentation-view table caption {
  background-color: #0d1b2a;
  border: 1px solid #0d1b2a;
  border-bottom: none;
  font-weight: bold;
  font-size: 1.2rem;
  text-align: left;
  padding: 12px;
  color: #fff;
}
html > .page.documentation .documentation-view table th,
html > .page.documentation .documentation-view table td {
  font-weight: bold;
  border: 1px solid #0d1b2a;
  text-align: left;
  padding: 12px;
}
html > .page.documentation .documentation-view table th {
  text-align: left;
}
html > .page.documentation .documentation-view table td {
  font-weight: bold;
  font-size: 1rem;
}
html > .page.documentation .documentation-view ul li {
  margin-bottom: 34px;
}